{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for listing in active_listings %}
      <div>
        <index_image src="{{ listing.image_url|default_if_none:'No_Image_Available.jpg'}}" alt="{{ listing.title }}">
        <a href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
        <a>Price: {{ listing.current_price }}</a>
        <a>Created {{ listing.created_at }}</a>
      </div>
    {% empty %}
      No Active Listings.
    {% endfor %}

{% endblock %}