{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}

 <h2>Listing: {{ listing.title }}</h2>

 <div>
  {% if listing.image_url %}
    <img class="index_image" src="{{ listing.image_url }}" alt="{{ listing.title }}">
  {% else %}
    <img class="index_image" src="{% static 'auctions\No_Image_Available.jpg' %}">
  {% endif %}
 </div>


 <div>
  {{ listing.description }}
 </div>


 <div>
  <h3>${{ listing.current_price }}</h3>
 </div>

 <div>
  {% if user.is_authenticated %}
    <form method="POST">
      {% csrf_token %}
      {% if user in watchers %}
        <input type="submit" value="Unwatch" name="unwatch">
      {% else %}
        <input type="submit" value="Watch" name = "watch">
      {% endif %}
    </form>
    {% if user == current_bid.user %}
      {{ number_of_bids }} bid(s) so far.  Your bid is the current bid.
    {% else %}
      {{ number_of_bids }} bid(s) so far.
    {% endif %}
    <ul>
    {% for error in bid_errors %}
    <li class="error">{{ error }}</li>
    {% endfor %}
  </ul>
    <form method="POST">
      {% csrf_token %}
      {{ bid_form }}
      <input type="submit" value="Place Bid" name="bid">
    </form>


  {% else %}
    {{ number_of_bids }} bid(s) so far.
  {% endif %}
 </div>

 <div>
  <h4>Details:</h4>
  <ul>
    <li>Listed by: {{ listing.user }}</li>
    {% if listing.category %}
    <li>Category:<a href="{% url 'category' category.id %}"> {{ listing.category|default_if_none:'No Category'}}</a></li>
    {% else %}
    <li>No category</li>
    {% endif %}
  </ul>
  <h4>Watchers:</h4>
  <ul>
    {% for user in watchers %}
    <li>{{ user.username}}</li>
    {% empty %}
    <li>No watchers.</li>
    {% endfor %}
  </ul>
  <h4>Comments:</h4>
  <ol>
    {% for comment in comments %}
    <li><b>{{ comment.comment }} </b><i>by </i>{{ comment.user }} <i>on </i>{{ comment.created_at }}</li>
    {% empty %}
    <li>No comments.</li>
    {% endfor %}
  </ol>
  {% if user.is_authenticated %}
    <form method="POST">
      {% csrf_token %}
      {{ comment_form }}
      <input type="submit" name="comment_submit">
    </form>
  {% endif %}

 </div>

{% endblock %}

