{% extends "auctions/layout.html" %}

{% block body %}

<h3>Active Listings</h3>
<ul>
  {% for listing in active_listings %}
  <li><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></li>
  {% empty %}
  <li>None.</li>
  {% endfor %}
</ul>

<h3>{{ user.username }}'s Bids</h3>
<ul>
  {% for bid in user_bids %}
  <li>{{ bid.listing.id }}</li>
  {% empty %}
  <li>None.</li>
  {% endfor %}
</ul>

<h3>Active Listing Bids</h3>
<ul>
  {% for bid in active_listing_bids %}
  <li><a href="{% url 'listing' bid.listing.id %}">{{ bid.listing.title }} </a>${{ bid.listing.amount }} {% if bid.is_current %}<b style="color:green">WINNING</b>{% else %}<b style="color:red">LOSING</b>{% endif %}</li>
  {% empty %}
  <li>None.</li>
  {% endfor %}
</ul>

{% endblock %}