{% extends "auctions/layout.html" %}

{% block body %}
<h2 style="color:aquamarine">{{ user.username }}</h2>
<h3>Watching</h3>
<ul>
  {% for listing in watched_listings %}
  <li><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></li>
  {% empty %}
  <li>None.</li>
  {% endfor %}
</ul>

<h3>Created</h3>
<ul>
  {% for listing in created_listings %}
  <li><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></li>
  {% empty %}
  <li>None.</li>
  {% endfor %}
</ul>

<h3>Won</h3>
<ul>
  {% for listing in won_listings %}
  <li><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></li>
  {% empty %}
  <li>None.</li>
  {% endfor %}
</ul>

<h3>Active Bids</h3>
<ul>
  {% for bid in active_listing_bids %}
  <li><a href="{% url 'listing' bid.listing.id %}">{{ bid.listing.title }} </a>${{ bid.amount }} {% if bid.is_current %}<b style="color:green">WINNING</b>{% else %}<b style="color:red">LOSING</b>{% endif %}</li>
  {% empty %}
  <li>None.</li>
  {% endfor %}
</ul>

<h3>All Bids Testing</h3>
<ul>
  {% for bid in all_user_bids %}
  <li><a href="{% url 'listing' bid.listing.id %}">{{ bid.listing.title }}</a> {{ bid.amount }} {{ bid.is_current }}</li>
  {% empty %}
  <li>None.</li>
  {% endfor %}
</ul>


{% endblock %}